<?xml version = "1.0" encoding = "UTF-8"?>

<launch>
  <bundles verbose = "true">
    <search path="bundles"/>
    <bundle name="org.apache.felix.configadmin.jar"/>
    <bundle name="org.apache.felix.log.jar"/>
    <bundle name="org.apache.felix.metatype.jar"/>
    <bundle name="org.apache.felix.scr.jar"/>
    <bundle name="org.semanticweb.owl.owlapi.jar"/>
  </bundles>
  <bundles verbose = "true">
    <search path="bundles"/>
    <bundle name="org.protege.owl.server.jar"/>
  </bundles>
  <bundles>
    <search path="plugins"/>
  </bundles>
</launch>
