<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>org.protege.owl.server</string>
    <key>UserName</key>
    <string>tredmond</string>
    <key>WorkingDirectory</key>
    <string>/usr/local/protege/server</string>
	<key>OnDemand</key>
	<false/>
	<key>ProgramArguments</key>
	<array>
      <string>/usr/bin/java</string>
		<string>-Xmx3500M</string>
		<string>-server</string>
        <string>-Djava.rmi.server.hostname=171.65.32.222</string>
        <string>-DentityExpansionLimit=100000000</string>
        <string>-Dfile.encoding=UTF-8</string>
        <string>-Dorg.protege.owl.server.configuration=metaproject.owl</string>
        <string>-Djava.util.logging.config.file=logging-unix.properties</string>
        <string>-classpath</string>
        <string>./lib/felix.jar:./lib/ProtegeLauncher.jar</string>
        <string>org.protege.osgi.framework.Launcher</string>
	</array>
    <key>KeepAlive</key>
    <true/>
    <key>Debug</key>
    <true/>
    <key>Sockets</key>
    <dict>
      <key>Listeners</key>
      <dict>
        <key>SockServiceName</key>
        <string>4875</string>
        <key>SockType</key>
        <string>stream</string>
        <key>SockFamily</key>
        <string>IPv4</string>
      </dict>
    </dict>
</dict>
</plist>
